    {% extends "base.html" %}

    {% block content %}
    <body>
        <div>
            <pre>
                {% if data_parse.type_packet == 1 %}
{
type_packet:{{ data_parse.type_packet }}
battery_charge:{{ data_parse.battery_charge }}
option_values:{
                period_output:{{ data_parse.option_values.period_output }}
                type_first_input:{{ data_parse.option_values.type_first_input }}
                type_second_input:{{ data_parse.option_values.type_second_input }}
                type_third_input:{{ data_parse.option_values.type_third_input }}
                type_fourth_input:{{ data_parse.option_values.type_fourth_input }}
                }
utc_time:{{ data_parse.utc_time}}
temp:{{ data_parse.temp}}
indication_1:{{ data_parse.indication_1 }}
indication_2:{{ data_parse.indication_2 }}
indication_3:{{ data_parse.indication_3 }}
indication_4:{{ data_parse.indication_4 }}
}
            {% elif data_parse.type_packet == 255 %}
{
type_packet:{{ data_parse.type_packet }}
generation_utc_time:{{ data_parse.generation_utc_time }}
}
            {% else %}
{
{{ data_parse }}
}
            {% endif %}
            </pre>
        </div>
    </body>
    {% endblock content %}
